{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            Site Name
            </div>
            <div class="col">
            Model
            </div>
            <div class="col">
            Web Address
            </div>
            <div class="col">
            CLI address
            </div>
            <div class="col">
            Login
            </div>
            <div class="col">
            Password
            </div>
        </div>
    </div>

    {% for corenetworkobject in corenetworkobjects_list %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                {{ corenetworkobject.site_name }}
                </div>
                <div class="col">
                {{ corenetworkobject }}
                </div>
                <div class="col">
                {{ corenetworkobject.web_address }}
                </div>
                <div class="col">
                {{ corenetworkobject.cli_address }}
                </div>
                <div class="col">
                {{ corenetworkobject.login }}
                </div>
                <div class="col">
                {{ corenetworkobject.password }}
                </div>
            </div>
        </div>   
    {% endfor %}

{% endblock content %}

